<p id="notice"><%= notice %></p>

<p>
  <%= @study_group.name %>
</p>

<p>
  <%= link_to 'Add new link', new_link_path(:group_id => @study_group.id) %>
</p>

<p>
  <table>
    <tbody>
    <% @links.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link.url %></td>
          <td><%= link.description %></td>
          <td><%= link.study_group_id %></td>
          <td><%= link.keywords %></td>
          <td><%= link_to 'Destroy', link, method: :delete %></td>
          <td><%= render partial: 'votes/form', locals: {vote: @vote, vote_value: -1, link_id: link.id} %></td>
          <td><%= render partial: 'votes/form',  locals: {vote: @vote, vote_value: -1, link_id: link.id} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Back', study_groups_path %>
